---
import { Icon } from "astro-icon/components";
import HeroImage from "~/components/hero-image.astro";
import type { FooterLink } from "~/types";
const links: Array<FooterLink> = [
  {
    url: "https://omniversify.com/",
    description: "Omniversify's official website",
    icon: "mdi:home",
  },
  {
    url: "https://github.com/phaylali/omniversify-official",
    description: "View source on GitHub",
    icon: "fa-brands:github-alt",
  },
  {
    url: "https://discord.omniversify.com",
    description: "Omniversify on Discord",
    icon: "fa-brands:discord",
  },
  {
    url: "https://bsky.app/profile/omniversify.com",
    description: "Omniversify on Bluesky",
    icon: "platforms/bluesky",
  },
  {
    url: "https://kick.com/phaylali",
    description: "Phaylali on Kick",
    icon: "platforms/kick",
  },
  {
    url: "https://twitch.tv/phaylali",
    description: "Phaylali on Twitch",
    icon: "platforms/twitch",
  },
  {
    url: "https://trovo.live/s/phaylali",
    description: "Phaylali on Trovo",
    icon: "platforms/trovo",
  },
  {
    url: "https://youtube.com/@phaylali",
    description: "Phaylali on Youtube",
    icon: "fa-brands:youtube",
  },
];
---

<footer class="relative flex h-64 items-center justify-center">
  <div class="absolute inset-0 overflow-hidden opacity-40">
    <HeroImage />
  </div>
  <ul class="relative grid grid-cols-2 gap-4 sm:grid-cols-4">
    {
      links.map((link) => (
        <li>
          <a
            class="flex size-16 items-center justify-center rounded-full border-2 border-current p-4"
            href={link.url}
          >
            <span class="sr-only">{link.description}</span>
            <Icon class="size-full" name={link.icon} />
          </a>
        </li>
      ))
    }
  </ul>
</footer>
