---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import Fav from "~/components/omniversify.astro"
---

<ContentSection title="Project In Focus" id="intro">
  <Fav></Fav>
  <!--Icon slot="eyebrow" name="fav" class="size-32" /-->
  <Fragment slot="lead">
    Omniversify is now focusing on a
    <span class="text-primary">Game</span> called
    <span class="text-primary">Deserted Tales: Aicha Kandicha</span>.
    a game about a historical figure that turned into a <span class="text-primary">Folklore Myth</span> lived during the 16th century in Morocco.
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://desertedtales.omniversify.com/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:telescope" class="size-8" />
      <span>Read the docs</span>
    </a>
    <a
      href="https://journey.omniversify.com/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:routes" class="size-8 " />
      <span>The Journey</span>
    </a>
    
  </div>
</ContentSection>
